ENV=local
PORT=5000
ACCOUNTS_DATABASE_URL=postgresql://user:password@localhost:port/accounts?schema=public
FREIGHT_DATABASE_URL=postgresql://user:password@localhost:port/freights?schema=public
TRACKING_DATABASE_URL=postgresql://user:password@localhost:port/trackings?schema=public
DOCUMENT_DATABASE_URL=postgresql://user:password@localhost:port/documents?schema=public
CORE_DATABASE_URL=postgresql://user:password@localhost:port/core?schema=public